.GridLoader {
  display: flex;
  margin-left: -8px; /* gutter size offset */
  width: auto;
}
.GridLoader__column {
  padding-left: 8px; /* gutter size */
  background-clip: padding-box;
}

.GridLoader__column > div { 
  margin-bottom: 8px; /* gutter size */
  overflow: hidden;
}