:root {
  --columns: 4;
}

.ListOfGifs {
  column-count: var(--columns);
  column-gap: 8px;
}

@media (max-width: 780px) {
  :root {
    --columns: 3;
  }

  .TrendGifs {
    text-align: center;
    margin-top: 2rem;
  }

  .TrendGifs__list {
    flex-direction: row;
    gap: .75rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 450px) {
  :root {
    --columns: 2;
  }
}